*{
    margin: 0;
    padding: 0;
}
.cabecalho{
    padding: 20px;
    display: flex;
    position: fixed;
    right: 0;
    top:0;
    z-index: 1;
    justify-content:space-evenly;
    background-color: #F7FDF3;
    width: 100%;
}
.cabecalho a{
    color: #347571;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.25rem;
    font-family: 'Open Sans', sans-serif;

}
.cabecalho a:hover{
    color: #35B276;
}

@media(max-width: 450px){
    .cabecalho{
        gap: 20px;
        flex-wrap: wrap;
    }
}
