*{
    margin: 0;
    padding: 0;
}
.conteudo-sobre img{
    margin-top: 5%;
    width: 100%;
    height: calc(100%/3);
    
}
@media(max-width: 450px){
    .conteudo-sobre{
        margin-top: 25%;
    }
}
